<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.appinfo.App_infoMapper">
	
	<select id="getAppinfo" resultType="App_info">
		select a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,
				(select devName from dev_user where id = a.devId) as devName,
				a.status,
				(select valueName from data_dictionary d where  a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
				a.flatformId,
				(select valueName from data_dictionary d where  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,
				a.categoryLevel1,
				(select categoryName from app_category c where  c.id=a.categoryLevel1) as categoryLevel1Name,
				a.categoryLevel2,
				(select categoryName from app_category c where  c.id=a.categoryLevel2) as categoryLevel2Name,
				a.categoryLevel3,
				(select categoryName from app_category c where  c.id=a.categoryLevel3) as categoryLevel3Name,
				a.downloads,
				a.onSaleDate,
				a.versionId,
				(select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
			from  app_info a
			<trim prefix="where" prefixOverrides="and | or">
			<if test="softwareName != null and softwareName != ''">
				and a.softwareName like CONCAT ('%',#{softwareName},'%')
			</if>
			<if test="status != null">
				and a.status = #{status}
			</if>
			<if test="categoryLevel1 != null">
				and a.categoryLevel1 = #{categoryLevel1}
			</if>
			<if test="categoryLevel2 != null">
				and a.categoryLevel2 = #{categoryLevel2}
			</if>
			<if test="categoryLevel3 != null">
				and a.categoryLevel3 = #{categoryLevel3}
			</if>
			<if test="flatformId != null">
				and a.flatformId = #{flatformId}
			</if>
<!-- 			<if test="devId != null">
				and a.devId = #{devId}
			</if> -->
		</trim>
		order by creationDate DESC limit #{from},#{pageSize}
	</select>
	<update id="modify"  parameterType="App_info">
		update app_info 
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="status==5">status = 4,</if>
			<if test="status==4">status = 5,</if>
			<if test="status==2">status = 4,</if>
		</trim>
	</update>
	
	
	<select id="infoStatus"  parameterType="App_info">
		select * FROM app_info WHERE id = #{id}
	</select>
	<!-- <update id="modify" parameterType="App_info">
		update app_info
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="softwareName != null">softwareName=#{softwareName},</if>
			<if test="APKName != null">APKName=#{APKName},</if>
			<if test="supportROM != null">supportROM=#{supportROM},</if>
			<if test="interfaceLanguage != null">interfaceLanguage=#{interfaceLanguage},</if>
			<if test="updateDate != null">updateDate=#{updateDate},</if>
			<if test="softwareSize != null">softwareSize=#{softwareSize},</if>
			<if test="appInfo != null">appInfo=#{appInfo},</if>
			<if test="status != null">status=#{status},</if>
			<if test="onSaleDate != null">onSaleDate=#{onSaleDate},</if>
			<if test="offSaleDate != null">offSaleDate=#{offSaleDate},</if>
			<if test="categoryLevel1 != null">categoryLevel1=#{categoryLevel1},</if>
			<if test="categoryLevel2 != null">categoryLevel2=#{categoryLevel2},</if>
			<if test="categoryLevel3 != null">categoryLevel3=#{categoryLevel3},</if>
			<if test="downloads != null">downloads=#{downloads},</if>
			<if test="flatformId != null">flatformId=#{flatformId},</if>
			<if test="logoPicPath != null">logoPicPath=#{logoPicPath},</if>
			<if test="logoLocPath != null">logoLocPath=#{logoLocPath},</if>
			<if test="modifyBy != null">modifyBy=#{modifyBy},</if>
			<if test="modifyDate != null">modifyDate=#{modifyDate}</if>
		</trim>	
		where id=#{id}
</update>
	 -->
	
	<select id="app_infoCount" resultType="int">
		SELECT COUNT(*) FROM app_info
	</select>
	
	<select id="getAPP_STATUS" resultType="Data_dictionary">
		SELECT * FROM data_dictionary WHERE  typeCode = "APP_STATUS"
		<if test="valueId != null">
			AND valueId= #{valueId}
		</if>
	</select>
	
	<select id="getAPP_FLATFORM" resultType="Data_dictionary">
		SELECT * FROM data_dictionary WHERE  typeCode = "APP_FLATFORM"
	</select>
	
	<select id="getCotegeryLevel" resultType="App_category">
		select id,categoryCode,categoryName from app_category 
		<trim prefix="where" prefixOverrides="and | or">
			<if test="parentId != null">
				and parentId = #{parentId}
			</if>
			<if test="parentId == null">
				and parentId is null
			</if>
		</trim>
	</select>
	
	<insert id="App_infoAdd"  parameterType="App_info">
		insert into app_info (softwareName,APKName,supportROM,interfaceLanguage,updateDate,softwareSize,
							devId,appInfo,status,onSaleDate,offSaleDate,categoryLevel1,categoryLevel2,
							categoryLevel3,downloads,flatformId,logoPicPath,logoLocPath,createdBy,creationDate)
				values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{updateDate},
					   #{softwareSize},#{devId},#{appInfo},#{status},#{onSaleDate},#{offSaleDate},
					   #{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{downloads},
					   #{flatformId},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate})
	</insert>
	
	<select id="ExistAPK" resultType="int">
		select count(1) from app_info where APKName = #{APKName}
	</select>
	
	<select id="getApp_infoID" resultType="App_info">
		select * from app_info where id = #{id}
	</select>
	
	<select id="getAppInfo" resultType="App_info">
		select * ,
			(select devName from dev_user where id = a.devId) as devName,
			(select valueName from data_dictionary d where  a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
			(select valueName from data_dictionary d where  a.status=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,
			(select categoryName from app_category c where  c.id=a.categoryLevel1) as categoryLevel1Name,
			(select categoryName from app_category c where  c.id=a.categoryLevel2) as categoryLevel2Name,
			(select categoryName from app_category c where  c.id=a.categoryLevel3) as categoryLevel3Name,
			(select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
		  from app_info a
		  <trim prefix="where" prefixOverrides="and | or">
				<if test="id != null">
					and a.id = #{id}
				</if>
				<if test="APKName != null">
					and a.APKName = #{APKName}
				</if>
		  </trim>
	</select>
	
	<update id="App_infomodify" parameterType="App_info">
		update app_info
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="softwareName != null">softwareName=#{softwareName},</if>
			<!-- <if test="APKName != null">APKName=#{APKName},</if> -->
			<if test="supportROM != null">supportROM=#{supportROM},</if>
			<if test="interfaceLanguage != null">interfaceLanguage=#{interfaceLanguage},</if>
			<if test="updateDate != null">updateDate=#{updateDate},</if>
			<if test="softwareSize != null">softwareSize=#{softwareSize},</if>
			<if test="appInfo != null">appInfo=#{appInfo},</if>
			<if test="status != null">status=#{status},</if>
			<if test="onSaleDate != null">onSaleDate=#{onSaleDate},</if>
			<if test="offSaleDate != null">offSaleDate=#{offSaleDate},</if>
			<if test="categoryLevel1 != null">categoryLevel1=#{categoryLevel1},</if>
			<if test="categoryLevel2 != null">categoryLevel2=#{categoryLevel2},</if>
			<if test="categoryLevel3 != null">categoryLevel3=#{categoryLevel3},</if>
			<if test="downloads != null">downloads=#{downloads},</if>
			<if test="flatformId != null">flatformId=#{flatformId},</if>
			<if test="logoPicPath != null">logoPicPath=#{logoPicPath},</if>
			<if test="logoLocPath != null">logoLocPath=#{logoLocPath},</if>
			<if test="modifyBy != null">modifyBy=#{modifyBy},</if>
			<if test="modifyDate != null">modifyDate=#{modifyDate},</if>
		</trim>
	</update>
	
	<select id="getAppinfoID" resultType="App_info">
			select a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,a.interfaceLanguage,a.appInfo,
				(select devName from dev_user where id = a.devId) as devName,
				a.status,
				(select valueName from data_dictionary d where  a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
				a.flatformId,
				(select valueName from data_dictionary d where  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,
				a.categoryLevel1,
				(select categoryName from app_category c where  c.id=a.categoryLevel1) as categoryLevel1Name,
				a.categoryLevel2,
				(select categoryName from app_category c where  c.id=a.categoryLevel2) as categoryLevel2Name,
				a.categoryLevel3,
				(select categoryName from app_category c where  c.id=a.categoryLevel3) as categoryLevel3Name,
				a.downloads,
				a.onSaleDate,
				a.versionId,
				(select v.versionNo from app_version v where v.id=a.versionId ) as versionNo,
				a.*
				from  app_info a 
			<trim  prefix="where" prefixOverrides="and | or" >
				<if test="id != null">
					and a.id = #{id}
				</if>
			</trim>
	</select>
	
	<select id="getVersion" resultType="App_vorsion">
	select v.*,
			(select a.softwareName from app_info a where a.id=v.appId ) as appName,
			(select valueName from data_dictionary d where  v.publishStatus=d.valueId AND d.typeCode='PUBLISH_STATUS') as publishStatusName
			from  app_version  v
		<trim prefix="where" prefixOverrides="and | or">
			<if test="appId != null">
				and v.appId = #{appId}
			</if>
		</trim>
		order by v.creationDate DESC
	</select>
	
	<select id="getModifyID" resultType="App_vorsion">
	select v.*,
			(select a.softwareName from app_info a where a.id=v.appId ) as appName,
			(select valueName from data_dictionary d where  v.publishStatus=d.valueId AND d.typeCode='PUBLISH_STATUS') as publishStatusName
			from  app_version  v
			<trim prefix="where" prefixOverrides="and | or">
				<if test="id != null || id != '' ">
					and v.id = #{id}
				</if>
			</trim>
	</select>
	
	<delete id="getAppinfoDeleteID">
		delete from app_info where id = #{id}
	</delete>
	
	<delete id="deleteVersionByAppId">
		delete from app_version where appId = #{appId}
	</delete>
	
	<select id="getAppVersionById" resultType="App_vorsion">
		select * from app_version where id = #{id}
	</select>
	
	
	<update id="modifyvorsion" parameterType="App_vorsion">
		update app_version
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="versionNo != null">versionNo=#{versionNo},</if>
			<if test="versionInfo != null">versionInfo=#{versionInfo},</if>
			<if test="publishStatus != null">publishStatus=#{publishStatus},</if>
			<if test="downloadLink != null">downloadLink=#{downloadLink},</if>
			<if test="apkLocPath != null">apkLocPath=#{apkLocPath},</if>
			<if test="versionSize != null">versionSize=#{versionSize},</if>
			<if test="apkFileName != null">apkFileName=#{apkFileName},</if>
			<if test="modifyBy != null">modifyBy=#{modifyBy},</if>
			<if test="modifyDate != null">modifyDate=#{modifyDate},</if>
		</trim>
	</update>
	
	<update id="deleteApkFile">
		update app_version 
			set apkLocPath=null,
				downloadLink=null,
				apkFileName=null
			where id = #{id}
	</update>
	
	<update id="deleteAppLogo">
		update app_info 
			set logoPicPath = null,
				logoLocPath = null 
			where id = #{id}
	</update>
	
	<insert id="appsysadd" parameterType="App_vorsion" useGeneratedKeys="true" keyProperty="id">
		insert into app_version (appId,versionNo,versionInfo,publishStatus,
								downloadLink,versionSize,apkLocPath,apkFileName,createdBy,creationDate)
				values(#{appId},#{versionNo},#{versionInfo},#{publishStatus},#{downloadLink},
					   #{versionSize},#{apkLocPath},#{apkFileName},#{createdBy},#{creationDate})
	</insert>
</mapper>